@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1 id="team">EQUIPE</h1>
<div class="main-equipe">
    <div class="member">
        <img src="~/imgs/Enzo.jpg.jpeg" alt="Enzo Garbim">
        <h2>Enzo Garbim</h2>
        <p>Programador</p>
    </div>
    <div class="member">
        <img src="~/imgs/Cesar.jpeg" alt="César Prando">
        <h2>César Prando</h2>
        <p>Web Designer</p>
    </div>
    <div class="member">
        <img src="~/imgs/Nicolas.jpeg" alt="Nicolas Canonico">
        <h2>Nícolas Canonico</h2>
        <p>Programador</p>
    </div>
    <div class="member">
        <img src="~/imgs/Pedro.jpeg" alt="Pedro Garbim">
        <h2>Pedro Garbim</h2>
        <p>Instrutor</p>
    </div>
    <div class="member">
        <img src="~/imgs/Joao.jpeg" alt="João Veasey">
        <h2>João Veasey</h2>
        <p>Scrum Master</p>
    </div>
</div>