@model WebApplication1.Models.Cachorros

@{
    ViewData["Title"] = "Delete";
}


    
       
     
    <div class="row">
    <div class="delete-settings">
        
    <form asp-action="Delete">
        <h2 id="login-settings">Você tem certeza de que deseja excluir este cachorro?</h2>
    <input type="submit" value="Deletar" class="btn btn-primary custom-btn" /> 
        
    </form>
</div>
</div>


